<!DOCTYPE html>
<html ng-app="farmbuild.nutrientCalculator.examples.concentratesPurchased">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Farm Build Nutrient Calculator - Concentrates Purchased (angularJS)</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body ng-controller="ConcentratesPurchasedCtrl">
<content>
    <modal ng-if="noResult" ng-include="'../modal-validation-error.html'"></modal>
    <h3>
      <a ng-href="../index.html?load=true">FarmBuild Dairy Nutrient Calculator</a> - Concentrates Purchased
        <small>(angularJS)</small>
    </h3>
    <hr/>
    <form role="form" name="form" ng-submit="addConcentrateType(type, form)" novalidate>
        <fieldset>
            <legend>
                Here is a list of concentrates available, please add a new type if necessary.
            </legend>
            <form-item class="form-group col-lg-12 col-md-12 col-sm-12">
                <notification message="msgVehicle"
                              show="true" invalid="form.registration.$error.required"></notification>
                <table id="concentrateTypesTbl" class="table table-striped table-hover">
                    <tr>
                        <th>Name</th>
                        <th>Metabolisable Energy (MJ/Kg)</th>
                        <th>Dry Matter (%)</th>
                        <th>Sulphur (%)</th>
                        <th>Potassium (%)</th>
                        <th>Phosphorus (%)</th>
                        <th>Nitrogen (%)</th>
                        <th></th>
                    </tr>
                    <tr class="form-input">
                        <td>
                            <input name="typeName" id="typeName"
                                   ng-model="type.name" type="text" class="form-control"/>
                        </td>
                        <td>
                            <input name="metabolisableEnergyRatio" id="metabolisableEnergyRatio"
                                   ng-model="type.metabolisableEnergyInMJPerKg" type="number" class="form-control"/>
                        </td>
                        <td>
                            <input name="dryMatterPercentage" id="dryMatterPercentage"
                                   ng-model="type.dryMatterPercentage" type="number" class="form-control"/>
                        </td>
                        <td>
                            <input name="sulphurPercentage" id="sulphurPercentage"
                                   ng-model="type.sulphurPercentage" type="number" class="form-control"/>
                        </td>
                        <td>
                            <input name="potassiumPercentage" id="potassiumPercentage"
                                   ng-model="type.potassiumPercentage" type="number" class="form-control"/>
                        </td>
                        <td>
                            <input name="phosphorusPercentage" id="phosphorusPercentage"
                                   ng-model="type.phosphorusPercentage" type="number" class="form-control"/>
                        </td>
                        <td>
                            <input name="nitrogenPercentage" id="nitrogenPercentage"
                                   ng-model="type.nitrogenPercentage" type="number" class="form-control"/>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary">
                                <i class="icon fa fa-plus"></i>
                                Add Type
                            </button>
                        </td>
                    </tr>
                    <tr ng-repeat="type in concentrateTypes">
                        <td ng-bind="type.name"></td>
                        <td ng-bind="type.metabolisableEnergyInMJPerKg | number : decimalPrecision"></td>
                        <td ng-bind="type.dryMatterPercentage | number : decimalPrecision"></td>
                        <td ng-bind="type.sulphurPercentage | number : decimalPrecision"></td>
                        <td ng-bind="type.potassiumPercentage | number : decimalPrecision"></td>
                        <td ng-bind="type.phosphorusPercentage | number : decimalPrecision"></td>
                        <td ng-bind="type.nitrogenPercentage | number : decimalPrecision"></td>
                        <td>
                            <button type="button" ng-click="removeConcentrateType($index, form)" class="btn btn-link">
                                Remove
                            </button>
                        </td>
                    </tr>
                </table>
            </form-item>
        </fieldset>
    </form>
    <hr/>
    <form role="form" name="form" ng-submit="calculate(concentrates, form)" novalidate>
        <fieldset>
            <legend>
                Please enter the combination of concentrates available in the farm to calculate the nutrient
            </legend>
            <form-item class="form-group col-lg-12 col-md-12 col-sm-12">
                <table id="concentratesTbl" class="table table-striped table-hover">
                    <tr>
                        <th>Type</th>
                        <th>Total Weight (kg)</th>
                      <th>Wet/Dry</th>
                        <th>Dry Matter Weight (kg)</th>
                        <th>Metabolisable Energy (MJ/Kg)</th>
                        <th>Dry Matter (%)</th>
                        <th>Sulphur (%)</th>
                        <th>Potassium (%)</th>
                        <th>Phosphorus (%)</th>
                        <th>Nitrogen (%)</th>
                        <th></th>
                    </tr>
                    <tr class="form-input">
                        <td>
                            <select name="concentrateType" id="concentrateType" class="form-control"
                                    ng-options="concentrateType as concentrateType.name for concentrateType in concentrateTypes"
                                    ng-model="newConcentrate.type">
                                <option value="">Select type</option>
                            </select>
                        </td>
                        <td>
                            <input name="weight" id="weight"
                                   ng-model="newConcentrate.weight" type="number" class="form-control" placeholder="Enter weight"/>
                        </td>
                        <td class="td-is-dry">
                            <select name="isDry" id="isDry" class="form-control"
                                    ng-model="newConcentrate.isDry">
                                <option value="true">Dry</option>
                                <option value="false">Wet</option>
                            </select>
                        </td>
                      <td>
                        N/A
                      </td>
                        <td>
                            <span ng-bind='newConcentrate.type.metabolisableEnergyInMJPerKg'></span>
                        </td>
                        <td>
                            <span ng-bind='newConcentrate.type.dryMatterPercentage'></span>
                        </td>
                        <td>
                            <span ng-bind='newConcentrate.type.sulphurPercentage'></span>
                        </td>
                        <td>
                            <span ng-bind='newConcentrate.type.potassiumPercentage'></span>
                        </td>
                        <td>
                            <span ng-bind='newConcentrate.type.phosphorusPercentage'></span>
                        </td>
                        <td>
                            <span ng-bind='newConcentrate.type.nitrogenPercentage'></span>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary"
                                    ng-click="addConcentrate(newConcentrate.type, newConcentrate.weight, newConcentrate.isDry, form)">
                                <i class="icon fa fa-plus"></i>
                                Add concentrate
                            </button>
                        </td>
                    </tr>
                    <tr ng-repeat="concentrate in concentrates">
                        <td ng-bind="concentrate.type.name"></td>
                        <td ng-bind="concentrate.weight | number : decimalPrecision"></td>
                        <td ng-bind="concentrate.isDry | dryWet"></td>
                        <td ng-bind="concentrate.isDry ? concentrate.weight : (concentrate.weight*concentrate.type.dryMatterPercentage)/100 | number : decimalPrecision"></td>
                        <td ng-bind="concentrate.type.metabolisableEnergyInMJPerKg | number : decimalPrecision"></td>
                        <td ng-bind="concentrate.type.dryMatterPercentage | number : decimalPrecision"></td>
                        <td ng-bind="concentrate.type.sulphurPercentage | number : decimalPrecision"></td>
                        <td ng-bind="concentrate.type.potassiumPercentage | number : decimalPrecision"></td>
                        <td ng-bind="concentrate.type.phosphorusPercentage | number : decimalPrecision"></td>
                        <td ng-bind="concentrate.type.nitrogenPercentage | number : decimalPrecision"></td>
                        <td>
                            <button type="button" class="btn btn-link" ng-click="removeConcentrate($index, form)">
                                Remove {{concentrate.isDry}}
                            </button>
                        </td>
                    </tr>
                </table>
            </form-item>
        </fieldset>
        <buttons>
            <button type="submit" class="btn btn-primary">
                Calculate nutrient
            </button>
        </buttons>
    </form>
    <summary>
        <fieldset>
            <legend>
                Summary - Total nutrient imported on to the farm in concentrates
            </legend>
            <form-item class="form-group col-sm-6">
                <p>Total weight (Kg): <span ng-bind="result.weight | number"></span></p>
            </form-item>
            <form-item class="form-group col-sm-6">
                <p>Total Dry Matter weight (Kg): <span ng-bind="result.dryMatterWeight | number"></span></p>
            </form-item>
            <form-item class="form-group col-sm-6">
                <p>Phosphorus (Kg): <span ng-bind="result.phosphorusInKg | number : decimalPrecision"></span></p>
                <p>Phosphorus (%): <span ng-bind="result.phosphorusPercentage | number : decimalPrecision"></span></p>
            </form-item>
            <form-item class="form-group col-sm-6">
                <p>Potassium (Kg): <span ng-bind="result.potassiumInKg | number : decimalPrecision"></span></p>
                <p>Potassium (%): <span ng-bind="result.potassiumPercentage | number : decimalPrecision"></span></p>
            </form-item>
            <form-item class="form-group col-sm-6">
                <p>Sulphur (Kg): <span ng-bind="result.sulphurInKg | number : decimalPrecision"></span></p>
                <p>Sulphur (%): <span ng-bind="result.sulphurPercentage | number : decimalPrecision"></span></p>
            </form-item>
            <form-item class="form-group col-sm-6">
                <p>Nitrogen (Kg): <span ng-bind="result.nitrogenInKg | number : decimalPrecision"></span></p>
                <p>Nitrogen (%): <span ng-bind="result.nitrogenPercentage | number : decimalPrecision"></span></p>
            </form-item>
            <form-item class="form-group col-sm-6">
                <p>Metabolisable Energy (MJ/Kg): <span ng-bind="result.metabolisableEnergyInMJPerKg | number : decimalPrecision"></span></p>
                <p>Total Metabolisable Energy (MJ): <span ng-bind="result.metabolisableEnergyInMJ | number : decimalPrecision"></span></p>
            </form-item>
        </fieldset>
    </summary>
    <version class="col-md-12">
      <a ng-href="../index.html?load=true">FarmBuild Dairy Nutrient Calculator</a>
        Version: <span ng-bind="appVersion"></span>
    </version>
</content>

<script src="../../../dist/farmbuild-core.js"></script>
<script src="../../../dist/farmbuild-farmdata.js"></script>
<script src="../../../dist/farmbuild-nutrientcalculator.js"></script>
<script src="../../config.js"></script>
<script src="index.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    var GA_TRACKING_CODE = 'UA-53478356-1';

    ga('create', GA_TRACKING_CODE, 'auto');
</script>

</body>
</html>
