<!DOCTYPE html>
<html ng-app="farmbuild.nutrientCalculator.examples">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Farmbuild Diary Nutrient Calculator (angularJS)</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body ng-controller="FarmCtrl">
<content>
    <form role="form" name="form" novalidate>
        <h3>
            Farmbuild Diary Nutrient Calculator
            <small>(angularJS)</small>
        </h3>
        <a ng-href="cows-culled/index.html?load=true">cows-culled</a> |
        <a ng-href="cows-purchased/index.html?load=true">cows-purchased</a> |
        <a ng-href="fertilizers-purchased/index.html?load=true">fertilizers-purchased</a> |
        <a ng-href="forages-purchased/index.html?load=true">forages-purchased</a> |
        <a ng-href="milk-sold/index.html?load=true">milk-sold</a> |
        <hr/>
        <form-item class="form-group col-md-6">
            <label>Please select your farm data</label>
            <input name="farmData" type="file" on-read-file="loadFarmData($fileContent)" class="form-control">
        </form-item>
        <buttons class="col-md-12">
            <!--<button type="button" class="btn btn-primary" ng-click="exportFarmData(farmData)" ng-disabled="!farmData.name">Export farm data</button>-->
            <a type="button" class="btn btn-primary" ng-click="exportFarmData(farmData)" ng-disabled="!farmData.name">Export
                farm data</a>
        </buttons>
        <div class="clearfix"></div>
    </form>
    <summary>
        <fieldset>
            <legend>
                Farm details
            </legend>
            <form-item class="form-group col-sm-6">
                <p>Farm Name: <span ng-bind="farmData.name"></span></p>
            </form-item>
            <form-item class="form-group col-sm-6">
                <p>Area: <span ng-bind="farmData.area | number: decimalPrecision"></span></p>
            </form-item>
            <form-item class="form-group col-sm-6">
                <p>Date Created: <span ng-bind="farmData.dateCreated | date: 'medium'"></span></p>
            </form-item>
            <form-item class="form-group col-sm-6">
                <p>Date Last Updated: <span ng-bind="farmData.dateLastUpdated | date: 'medium'"></span></p>
            </form-item>
        </fieldset>
        <fieldset>
            <legend>
                Farm area breakdown (ha)
            </legend>
            <form-item class="form-group col-sm-6">
                <p>Milking area: <span
                        ng-bind="farmData.nutrientCalculator.summary.milkingAreaInHa | number: decimalPrecision"></span>
                </p>
            </form-item>
            <form-item class="form-group col-sm-6">
                <p>Non milking area: <span
                        ng-bind="(farmData.area - farmData.nutrientCalculator.summary.milkingAreaInHa) | number: decimalPrecision"></span>
                </p>
            </form-item>
        </fieldset>
        <fieldset>
            <legend>
                Balance and Efficiency
            </legend>
            <form-item class="form-group col-sm-6">
                <table id="foragesTbl" class="table table-striped table-hover">
                    <tr>
                        <th></th>
                        <th>Nitrogen</th>
                        <th>Phosphorus</th>
                        <th>Potassium</th>
                        <th>Sulphur</th>
                    </tr>
                    <tr>
                        <td>Balance (kg/ha)</td>
                        <td ng-bind="balance.nitrogen | number: decimalPrecision"></td>
                        <td ng-bind="balance.phosphorus | number: decimalPrecision"></td>
                        <td ng-bind="balance.potassium | number: decimalPrecision"></td>
                        <td ng-bind="balance.sulphur | number: decimalPrecision"></td>
                    </tr>
                    <tr>
                        <td>Efficiency (%)</td>
                        <td ng-bind="efficiency.nitrogen | number: decimalPrecision"></td>
                        <td ng-bind="efficiency.phosphorus | number: decimalPrecision"></td>
                        <td ng-bind="efficiency.potassium | number: decimalPrecision"></td>
                        <td ng-bind="efficiency.sulphur | number: decimalPrecision"></td>
                    </tr>
                </table>
            </form-item>
        </fieldset>
    </summary>
    <version>
        Version: <span ng-bind="appVersion"></span>
    </version>
</content>

<script src="../../dist/farmbuild-core.js"></script>
<script src="../../dist/farmbuild-farmdata.js"></script>
<script src="../../dist/farmbuild-nutrientcalculator.js"></script>
<script src="../config.js"></script>
<script src="index.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    var GA_TRACKING_CODE = 'UA-53478356-1';

    ga('create', GA_TRACKING_CODE, 'auto');
</script>

</body>
</html>
