<!DOCTYPE html>
<html ng-app="farmbuild.nutrientCalculator.examples">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Farmbuild Dairy Nutrient Calculator (angularJS)</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body ng-controller="FarmCtrl">
<content>
<modal ng-if="noResult" ng-include="'modal-validation-error.html'"></modal>
<form role="form" name="form" novalidate>
  <h3>
    Farmbuild Dairy Nutrient Calculator
    <small>(angularJS)</small>
  </h3>
  <hr/>
  <h4>
    Calculate incomings/outgoings of the dairy nutrient of your farm
  </h4>
  <p>
    You don't need to have a farmData in order to calculate each incomings/outgoings.
  </p>
  <a ng-href="cows-purchased/index.html">cows-purchased</a> |
  <a ng-href="cows-culled/index.html">cows-culled</a> |
  <a ng-href="forages-purchased/index.html">forages-purchased</a> |
  <a ng-href="concentrates-purchased/index.html">concentrates-purchased</a> |
  <a ng-href="fertilizers-purchased/index.html">fertilizers-purchased</a> |
  <a ng-href="milk-sold/index.html">milk-sold</a> |
  <a ng-href="legumes/index.html">legumes</a>
  <br/>
  <br/>
  <hr/>
  <h4>
    Load FarmData to calculate the dairy nutrient of your farm
  </h4>
  <p>
    You must have a farmData to calculate for the entire dairy nutrient of your farm.
    Please use the example farmData files in ../data/.
  </p>
  <form-item class="form-group col-sm-12">
    <label>Please select your farm data</label>
    <input id="loadFile" name="farmData" type="file" on-read-file="loadFarmData($fileContent)" class="form-control">
    <!-- input id="loadFile" name="farmData" type="file"
           onchange="angular.element(this).scope().readFile(event)" class="form-control">
    <button class="btn btn-primary"
        ng-click="loadFile(file)"
        id="loadButton">Load</button  -->
    <br>
            <span ng-if="farmData.name">
            <a ng-href="cows-purchased/index.html?load=true">cows-purchased</a> |
            <a ng-href="cows-culled/index.html?load=true">cows-culled</a> |
            <a ng-href="forages-purchased/index.html?load=true">forages-purchased</a> |
            <a ng-href="concentrates-purchased/index.html?load=true">concentrates-purchased</a> |
            <a ng-href="fertilizers-purchased/index.html?load=true">fertilizers-purchased</a> |
            <a ng-href="milk-sold/index.html?load=true">milk-sold</a> |
            <a ng-href="legumes/index.html?load=true">legumes</a>
            </span>
  </form-item>
  <buttons class="col-md-12" ng-if="farmData.name">
    <!--<button type="button" class="btn btn-primary" ng-click="exportFarmData(farmData)" ng-disabled="!farmData.name">Export farm data</button>-->
    <button class="btn btn-success" ng-click="calculate()">Calculate</button>
    <a type="button" class="btn btn-primary" ng-click="exportFarmData(farmData)" ng-disabled="!farmData.name">Export
      farm data</a>
    <button class="btn btn-danger" ng-click="clear()">Clear session</button>
  </buttons>

  <div class="clearfix"></div>
</form>
<br/>
<hr>
<empty-message ng-if="!farmData.name"><i class="fa fa-warning icon"></i>
  Provide a farm data to see the nutrient details
</empty-message>

<summary ng-if="farmData.name">
  <fieldset>
    <legend>
      Farm details
    </legend>
    <form-item class="form-group col-sm-6">
      <p>Farm name: <span ng-bind="farmData.name"></span></p>
    </form-item>
    <form-item class="form-group col-sm-6">
      <p>Area in hectare: <span ng-bind="farmData.area | number: decimalPrecision"></span></p>
    </form-item>
    <form-item class="form-group col-sm-6">
      <p>Date created: <span ng-bind="farmData.dateCreated | date: 'medium'"></span></p>
    </form-item>
    <form-item class="form-group col-sm-6">
      <p>Date last updated: <span ng-bind="farmData.dateLastUpdated | date: 'medium'"></span></p>
    </form-item>
  </fieldset>
  <fieldset>
    <legend>
      Farm area breakdown (ha)
    </legend>
    <form-item class="form-group col-sm-6">
      <label>Milking area in hectare:</label>
      <input ng-model="farmData.nutrientCalculator.summary.milkingAreaInHa" type="number"
             class="form-control">
    </form-item>
    <form-item class="form-group col-sm-6">
      <label>Non milking area in hectare:</label>

      <p class="form-control"><span
          ng-bind="(farmData.area - farmData.nutrientCalculator.summary.milkingAreaInHa) | number: decimalPrecision"></span>
      </p>
    </form-item>

    <form-item class="form-group col-sm-6">
      <label>Average cow weight in Kg:</label>
      <input ng-model="farmData.nutrientCalculator.summary.averageCowWeightInKg" type="number"
             class="form-control">
    </form-item>

    <form-item class="form-group col-sm-6">
      <label>Number of milking cows:</label>
      <input ng-model="farmData.nutrientCalculator.summary.numberOfMilkingCows" type="number"
             class="form-control">
    </form-item>

    <form-item class="form-group col-sm-6">
      <label>Number of milking days:</label>
      <input ng-model="farmData.nutrientCalculator.summary.numberOfMilkingDays" type="number"
             class="form-control">
    </form-item>
  </fieldset>
  <fieldset>
    <form-item class="form-group col-sm-6">
          <span ng-if="farmData.name">
            <button class="btn btn-primary" ng-click="calculate()">Calculate</button>
          </span>
    </form-item>
  </fieldset>


  <fieldset>
    <legend>
      Balance and efficiency
    </legend>
    <form-item class="form-group col-sm-6">
      <table ng-if="balance.phosphorus || efficiency.phosphorus" id="foragesTbl"
             class="table table-striped table-hover">
        <tr>
          <th></th>
          <th>Nitrogen</th>
          <th>Phosphorus</th>
          <th>Potassium</th>
          <th>Sulphur</th>
        </tr>
        <tr>
          <td>Balance (kg/ha)</td>
          <td ng-bind="balance.nitrogen | number: decimalPrecision"></td>
          <td ng-bind="balance.phosphorus | number: decimalPrecision"></td>
          <td ng-bind="balance.potassium | number: decimalPrecision"></td>
          <td ng-bind="balance.sulphur | number: decimalPrecision"></td>
        </tr>
        <tr>
          <td>Efficiency (%)</td>
          <td ng-bind="efficiency.nitrogen | number: decimalPrecision"></td>
          <td ng-bind="efficiency.phosphorus | number: decimalPrecision"></td>
          <td ng-bind="efficiency.potassium | number: decimalPrecision"></td>
          <td ng-bind="efficiency.sulphur | number: decimalPrecision"></td>
        </tr>
      </table>
      <empty-message ng-if="!balance.nitrogen && !efficiency.nitrogen"><i class="fa fa-warning icon"></i>Provide
        a complete farm data to see balance and efficiency!
      </empty-message>
    </form-item>
  </fieldset>

  <fieldset>
    <legend>
      Stocking rate
    </legend>
    <div ng-if="stockingRate">
      <form-item class="form-group col-sm-12">
        <p>Stocking rate (cows/ha) milker area:
          <span ng-bind="stockingRate.milkingArea | number : decimalPrecision"></span>
        </p>
      </form-item>
      <form-item class="form-group col-sm-12">
        <p>Stocking rate (cows/ha) whole farm:
          <span ng-bind="stockingRate.wholeFarm | number : decimalPrecision"></span>
        </p>
      </form-item>
    </div>
    <empty-message ng-if="!stockingRate"><i class="fa fa-warning icon"></i>Provide
      a complete farm data to see stocking rate!
    </empty-message>
  </fieldset>

  <fieldset>
    <legend>
      Milk production
    </legend>
    <div ng-if="milkProduction">
      <form-item class="form-group col-sm-12">
        <p>Milk sold per year (Litre):
          <span ng-bind="milkProduction.milkSoldPerYearInLitre | number : decimalPrecision"></span>
        </p>
      </form-item>

      <form-item class="form-group col-sm-6">
        <p>Milk sold per cow (Litre):
          <span ng-bind="milkProduction.milkSoldPerCowInLitre | number : decimalPrecision"></span>
        </p>
      </form-item>
      <form-item class="form-group col-sm-6">
        <p>Milk sold per hectare (Litre):
          <span ng-bind="milkProduction.milkSoldPerHectareInLitre | number : decimalPrecision"></span>
        </p>
      </form-item>

      <form-item class="form-group col-sm-6">
        <p>Milk sold per cow (Kg):
          <span ng-bind="milkProduction.milkSoldPerCowInKg | number : decimalPrecision"></span>
        </p>
      </form-item>
      <form-item class="form-group col-sm-6">
        <p>Milk sold per hectare (Kg):
          <span ng-bind="milkProduction.milkSoldPerHectareInInKg | number : decimalPrecision"></span>
        </p>
      </form-item>

      <form-item class="form-group col-sm-6">
        <p>Milk (Litre) from imported feed (Kg):
          <span ng-bind="milkProduction.milkSoldFromImportedFeedInKg | number : decimalPrecision"></span>
        </p>
      </form-item>
      <form-item class="form-group col-sm-6">
        <p>Milk (Litre) from home grown feed (Kg):
          <span ng-bind="milkProduction.milkSoldFromHomeGrownFeedInKg | number : decimalPrecision"></span>
        </p>
      </form-item>
    </div>

    <empty-message ng-if="!milkProduction"><i class="fa fa-warning icon"></i>Provide
      a complete farm data to see milk production!
    </empty-message>
  </fieldset>

  <fieldset>
    <legend>
      Feed balance
    </legend>
    <div ng-if="feedBalance">
      <form-item class="form-group col-sm-12">
        <p>Home forage consumed (kg DM/ha):
          <span ng-bind="feedBalance.homeForageConsumed | number : decimalPrecision"></span>
        </p>
      </form-item>
      <form-item class="form-group col-sm-12">
        <p>Purchased forage as a proportion of total feed:
          <span ng-bind="feedBalance.forageTotalFeedRatio | number : decimalPrecision"></span>
        </p>
      </form-item>
      <form-item class="form-group col-sm-12">
        <p>Purchased grain/supplement as a proportion of total feed:
          <span ng-bind="feedBalance.supplementTotalFeedRatio | number : decimalPrecision"></span>
        </p>
      </form-item>

      <form-item class="form-group col-sm-12">
        <p>Home grown feed as proportion of total feed:
          <span ng-bind="feedBalance.homegrownTotalFeedRatio | number : decimalPrecision"></span>
        </p>
      </form-item>

      <form-item class="form-group col-sm-12">
        <p>Supplement: Home grown feed ratio:
          <span ng-bind="feedBalance.supplementHomegrownRatio | number : decimalPrecision"></span>
        </p>
      </form-item>
    </div>
    <empty-message ng-if="!feedBalance"><i class="fa fa-warning icon"></i>Provide
      a complete farm data to see feed balance!
    </empty-message>
  </fieldset>

</summary>
<version>
  Version: <span ng-bind="appVersion"></span>
</version>
</content>

<script src="../../dist/farmbuild-core.js"></script>
<script src="../../dist/farmbuild-farmdata.js"></script>
<script src="../../dist/farmbuild-nutrientcalculator.js"></script>
<script type="text/ng-template" id="modal-validation-error.html" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Validation failed</h3>
      </div>
      <div class="modal-body">
        There is a problem with input values.
        Please see the console for the error log or
        read <a
              href="https://github.com/FarmBuild/farmbuild-dairy-nutrient-calculator">API documentation</a> for
        more information
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="$parent.$parent.noResult=undefined">Ok</button>
      </div>
    </div>
  </div>
</script>
<script src="../config.js"></script>
<script src="index.js"></script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  var GA_TRACKING_CODE = 'UA-53478356-1';

  ga('create', GA_TRACKING_CODE, 'auto');
</script>


</body>
</html>
