<!DOCTYPE html>
<html ng-app="farmbuild.nutrientCalculator.examples.cowsPurchased">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Farm Build Nutrient Calculator - Cows Culled (angularJS)</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body ng-controller="CowsPurchasedCtrl">
<content>
    <h3>
        Farmbuild Diary Nutrient Calculator - Cows Culled
        <small>(angularJS)</small>
    </h3>
    <hr/>
    <form role="form" name="form" ng-submit="addCowType(type, form)" novalidate>
        <fieldset>
            <legend>
                Here is a list of cow types available, please add a new type if necessary.
            </legend>
            <error class="col-sm-12 bg-danger" ng-if="noResult">
                There is a problem with input values. Please read <a
                    href="https://github.com/FarmBuild/farmbuild-dairy-nutrient-calculator">API documentation</a> for
                more information
            </error>
            <form-item class="form-group col-lg-9 col-md-12 col-sm-12">
                <notification message="msgVehicle"
                              show="true" invalid="form.registration.$error.required"></notification>
                <table id="cowTypesTbl" class="table table-striped table-hover">
                    <tr>
                        <th>Name</th>
                        <th>Weight (kg)</th>
                        <th></th>
                    </tr>
                    <tr class="form-input">
                        <td>
                            <input name="typeName" id="typeName"
                                   ng-model="type.name" type="text" class="form-control"/>
                        </td>
                        <td>
                            <input name="typeWeight" id="typeWeight"
                                   ng-model="type.weight" type="number" class="form-control"/>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary">
                                <i class="icon fa fa-plus"></i>
                                Add Type
                            </button>
                        </td>
                    </tr>
                    <tr ng-repeat="type in cowTypes">
                        <td ng-bind="type.name"></td>
                        <td ng-bind="type.weight | number"></td>
                        <td></td>
                    </tr>
                </table>
            </form-item>
        </fieldset>
    </form>
    <hr/>
    <form role="form" name="form" ng-submit="calculate(cows, form)" novalidate>
        <fieldset>
            <legend>
                Please enter the combination of cows available in the farm to calculate the nutrient
            </legend>
            <error class="col-sm-12 bg-danger" ng-if="noResult">
                There is a problem with input values. Please read <a
                    href="https://github.com/FarmBuild/farmbuild-dairy-nutrient-calculator">API documentation</a> for
                more information
            </error>
            <form-item class="form-group col-lg-9 col-md-12 col-sm-12">
                <notification message="msgVehicle"
                              show="true" invalid="form.registration.$error.required"></notification>
                <table id="cowsTbl" class="table table-striped table-hover">
                    <tr>
                        <th>Type</th>
                        <th>Number of Cows</th>
                        <th>Average weight (kg)</th>
                        <th>Total weight (kg)</th>
                        <th></th>
                    </tr>
                    <tr class="form-input">
                        <td>
                            <select name="cowType" id="cowType" class="form-control"
                                    ng-options="cow as cow.name + ' (' + cow.weight + ' Kg)' for cow in cowTypes"
                                    ng-model="cowType">
                                <option value="">Select type</option>
                            </select>
                        </td>
                        <td>
                            <input name="numberOfCows" id="numberOfCows"
                                   ng-model="numberOfCows" type="number" class="form-control"/>
                        </td>
                        <td>
                            <span ng-bind='cowType.weight'></span>
                        </td>
                        <td>
                            <span ng-bind='cowType.weight*numberOfCows | number'></span>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary"
                                    ng-click="addCows(cowType, numberOfCows, form)">
                                <i class="icon fa fa-plus"></i>
                                Add Cow
                            </button>
                        </td>
                    </tr>
                    <tr ng-repeat="cow in cows">
                        <td ng-bind="cow.type"></td>
                        <td ng-bind="cow.numberOfCows"></td>
                        <td ng-bind="cow.weight | number"></td>
                        <td>{{(cow.numberOfCows * cow.weight) | number}}</td>
                        <td>
                            <button type="button" class="btn btn-link" ng-click="removeCows($index, form)">
                                Remove
                            </button>
                        </td>
                    </tr>
                </table>
            </form-item>
        </fieldset>
        <buttons>
            <button type="submit" class="btn btn-primary">
                Calculate nutrient
            </button>
        </buttons>
    </form>
    <summary>
        <fieldset>
            <legend>
                Summary - Total nutrient imported on to the farm in cows
            </legend>
            <error class="col-sm-12 bg-danger" ng-if="noResult">
                There is a problem with input values. Please read <a
                    href="https://github.com/FarmBuild/farmbuild-dairy-nutrient-calculator">API documentation</a> for
                more information
            </error>
            <form-item class="form-group col-sm-6">
                <p>Number of Cows:
                    <span ng-bind="result.numberOfCows"></span>
                </p>
            </form-item>
            <form-item class="form-group col-sm-6">
                <p>Total weight (Kg): <span ng-bind="result.weight | number"></span></p>
            </form-item>
            <form-item class="form-group col-sm-6">
                <p>Phosphorus (Kg): <span ng-bind="result.phosphorusInKg | number : decimalPrecision"></span></p>
            </form-item>
            <form-item class="form-group col-sm-6">
                <p>Potassium (Kg): <span ng-bind="result.potassiumInKg | number : decimalPrecision"></span></p>
            </form-item>
            <form-item class="form-group col-sm-6">
                <p>Sulphur (Kg): <span ng-bind="result.sulphurInKg | number : decimalPrecision"></span></p>
            </form-item>
            <form-item class="form-group col-sm-6">
                <p>Nitrogen (Kg): <span ng-bind="result.nitrogenInKg | number : decimalPrecision"></span></p>
            </form-item>
        </fieldset>
    </summary>
    <version class="col-md-12">
        Version: <span ng-bind="appVersion"></span>
    </version>
</content>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="../../../dist/farmbuild-core.js"></script>
<script src="../../../dist/farmbuild-farmdata.js"></script>
<script src="../../../dist/farmbuild-nutrientcalculator.min.js"></script>
<script src="../../config.js"></script>
<script src="index.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    var GA_TRACKING_CODE = 'UA-53478356-1';

    ga('create', GA_TRACKING_CODE, 'auto');
</script>

</body>
</html>
