<!DOCTYPE html>
<html ng-app="farmbuild.nutrientCalculator.examples.farmInput">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Farmbuild Diary Nutrient Calculator - angularJS example</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body ng-controller="FarmInputCtrl">
<h3>
    Farm input - angularJS example
</h3>
<hr/>
<form ng-submit="create(farmData)" role="form" novalidate>
    <fieldset>
        <legend>
            Add new farm
        </legend>

        <!--'farmerName',-->
        <!--'farmName',-->
        <!--'street',-->
        <!--'town',-->
        <!--'state',-->
        <!--'postcode',-->
        <!--'yearEnding',-->
        <!--'herdProfile',-->
        <!--'animalWeight',-->
        <!--'milkingDays',-->
        <!--'totalMilkingCows',-->
        <!--'totalFarmArea',-->
        <!--'milkingArea',-->
        <!--'nonMilkingArea'-->

        <form-item class="form-group col-md-6">
            <label>Farm Name</label>
            <input name="farmName" ng-model="farmData.name" type="text" class="form-control">
        </form-item>

        <form-item class="form-group col-md-6">
            <label>Area</label>
            <input name="area" ng-model="farmData.area" type="number" class="form-control">
        </form-item>

        <buttons class="col-md-12">
            <button type="submit" class="btn btn-primary">Create farm</button>
        </buttons>
    </fieldset>
</form>
<hr/>
<form ng-submit="load()" role="form" novalidate>
    <fieldset>
        <legend>
            Load Susan's farm information
        </legend>
        <buttons class="col-md-12">
            <button type="submit" class="btn btn-primary">Load</button>
        </buttons>
    </fieldset>
</form>
<summary class="summary">
    <fieldset>
        <legend>
            Summary
        </legend>
        <form-item class="form-group col-sm-6">
            <p>Farm Name: <span ng-bind="result.name"></span></p>
        </form-item>
        <form-item class="form-group col-sm-6">
            <p>Date Created: <span ng-bind="result.dateCreated | date: 'dd/MM/yyyy'"></span></p>
        </form-item>
        <form-item class="form-group col-sm-6">
            <p>Date Last Updated: <span ng-bind="result.dateLastUpdated | date: 'dd/MM/yyyy'"></span></p>
        </form-item>
        <form-item class="form-group col-sm-6">
            <p>Area: <span ng-bind="result.area | number: 2"></span></p>
        </form-item>
    </fieldset>
</summary>
<hr/>
<version class="col-md-12">
    Version: <span ng-bind="appVersion"></span>
</version>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="../../dist/farmbuild.min.js"></script>
<script src="../version.js"></script>
<script src="farm-input.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    var GA_TRACKING_CODE='UA-53478356-1';

    ga('create', GA_TRACKING_CODE, 'auto');
</script>

</body>
</html>
